<!DOCTYPE html>
<html>
<head>
    <title>Basic Flask App Also JJK is Peak Fiction</title>
    <style>
        body {
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Yay! Basic Flask Webpage Container with NGINX Container serving images :D</h1>
    <img src="/static/lose.png" alt="Goatsv Fraud">
    <br>
    <img src="/static/goatvsfraud.png" alt="Goatsv Fraud">
    <br>
    <a href="http://localhost/static/nah.png">This should open up another image if everything is setup properly!</a>
</body>
</html>
